<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>CSR</title>
    <link rel="stylesheet" th:href="@{/common/css/style.css}">
</head>

<body>
    <div class="app-layout">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <!-- LOGO -->
            <h2 class="logo">LN.CMS</h2>

            <!-- SIDEBAR MENU -->
            <nav class="sidebar-menu">
                <a href="#">대시보드</a>
                <a href="#">운영</a>
                <a href="#">시스템</a>
            </nav>

            <!-- SIDEBAR FOOTER -->
            <div class="sidebar-user">
                <div class="user-info">
                    <div class="avatar">👤</div>
                    <div class="text">
                        <div class="name">
                            홍길동
                        </div>
                        <div class="role">관리자</div>
                    </div>
                </div>

                <form th:action="@{/logout}" method="post">
                    <button class="logout-btn" type="submit" title="로그아웃">
                        ⎋
                    </button>
                </form>
            </div>
        </aside>

        <!-- MAIN -->
        <div class="main">
            <main class="content">
                <!-- thymeleaf fragment -->
                <section layout:fragment="content"></section>
            </main>
        </div>

    </div>
</body>