html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display:flex;
    flex-direction:column
}

.header {
    background-color: var(--color-bg-header);
    min-width: 1100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-shrink: 0;
}

.menu a {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    color: var(--color-tx-header);
    text-decoration: none;
    font-size: 1em;
}

.info a {
    margin: 20px;
    color: var(--color-tx-header);
    text-decoration: none;
    font-size: 1em;
}

/* BODY */
.content {
    flex:1;
    overflow-y: auto;
    padding: 16px;
}

/* FOOTER */
.footer {
    padding: 20px;
    text-align: center;
    font-size: 11px;
    color: var(--color-tx-footer);
    background-color:  var(--color-bg-footer);
}