/* =========================
   LOGIN PAGE
========================= */

body.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--color-bg-login);
    font-family: 'Arial', sans-serif;
    color: white;
}

/* 카드 */
.login-card {
    width: 420px;
    padding: 60px 40px 40px;
    border-radius: 20px;
    background: var(--color-bg-login-card);
    backdrop-filter: blur(12px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
}

/* 아바타 */
.avatar {
    width: 80px;
    height: 80px;
    background: var(--color-bg-login-card);
    border-radius: 50%;

    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-tx-login-input);
    font-size: 34px;
}

/* form 전체 가운데 */
.login-card form {
    margin-top: 40px;
}

/* 입력 그룹 */
.input-group {
    display: flex;
    align-items: center;

    background: var(--color-bg-login-input);
    color: var(--color-tx-login-input);
    border-radius: 10px;
    padding: 14px 16px;
    margin: 18px auto;

    width: 100%;
    max-width: 320px;
}

/* 아이콘 */
.input-group .icon {
    margin-right: 12px;
    font-size: 24px;
    color: var(--color-bg-login-input);
}

/* input */
.input-group input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding-top: 10px;
    padding-botton: 10px;
}

/*.input-group input::placeholder {*/
/*    color: rgba(255, 255, 255, 0.7);*/
/*}*/

/* 옵션 */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 320px;
    margin: 12px auto 25px;

    font-size: 12px;
    color: white;
}

.options a {
    color: white;
    text-decoration: underline;
}

/* 로그인 버튼 */
.login-btn {
    width: 100%;
    max-width: 320px;

    padding: 14px;
    border: none;
    border-radius: 10px;

    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;

    cursor: pointer;
    transition: background 0.2s ease;
}

.login-btn:hover {
    background: #1c3d6e;
}

/* 모달 배경 */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* 에러 모달 */
.modal {
    background: #0b1e36;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    color: white;
    min-width: 300px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.modal button {
    margin-top: 20px;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    background: #1c3d6e;
    color: white;
    cursor: pointer;
}
