/*
 * color, font, spacing 정의
 *
 */

:root {
    --color-bg-main: rgba(241, 244, 248, 0.8);
    --color-tx-main: rgba(119, 119, 119, 1);
    --color-bg-content: rgba(250, 250, 250, 0.8);
    --color-tx-content: rgba(38, 41, 56, 0.8);
    --color-bg-effect: linear-gradient(180deg, #3b6ff5, #5b8df9);

    --color-bg-login: linear-gradient(
            135deg,
            rgba(38, 41, 56, 0.8),
            rgba(181, 141, 182, 0.8)
    );
    --color-bg-login-card: linear-gradient(
            135deg,
            rgba(245, 243, 246, 0.8),
            rgba(224, 196, 225, 0.8)
    );
    --color-bg-login-input: rgba(38, 41, 56, 0.8);
    --color-tx-login-input: rgba(250, 250, 250, 0.8);
}